<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
<h1>Clinic Listing</h1>
<div class="card">
    <div class="card-body">
<form class="form-inline margin-bottom-10" [formGroup]="clinicForm" (ngSubmit)="onClinicsFormSubmit()">
  <div class="form-group mx-sm-3">
    <label for="clinic-name" class="sr-only">Name</label>
    <input type="text"  class="form-control" id="clinic-name" formControlName="name" placeholder="Clinic Name">
    
  </div>
  <div class="form-group mx-sm-3">
    <label for="clinic-img" class="sr-only">Image Url</label>
    <input type="text" class="form-control" id="clinic-img" formControlName="imgUrl" placeholder="Image URL">
    
  </div>



  <button class="btn btn-primary margin-bottom-10" *ngIf="!clinicIdToUpdate"><span class="fa fa-plus"></span> Create</button>
  <button class="btn btn-primary margin-bottom-10 margin-right-10" *ngIf="clinicIdToUpdate">UPDATE</button>
  <button class="btn btn-secondary margin-bottom-10" (click)="backToCreateClinic()" *ngIf="clinicIdToUpdate">Go Back</button>

</form>

  <div class="mx-sm-3">
    <div *ngIf="clinicForm.get('name').invalid && processValidation" [ngClass]="'error'" class="alert alert-danger " role="alert">
      Clinic Name is required
    </div>
    <div *ngIf="clinicForm.get('imgUrl').invalid && processValidation" [ngClass]="'error'" class="alert alert-danger " role="alert">
      Clinic Image URL is required
    </div>
  </div>

<div *ngIf="statusCode; else processing" class="mx-sm-3">
  <div *ngIf="statusCode === 201" [ngClass]="'alert alert-success'">
    Clinic added successfully.
  </div>
  <div *ngIf="statusCode === 409" [ngClass]="'alert alert-success'">
    Clinic already exists.
  </div>
  <div *ngIf="statusCode === 200" [ngClass]="'alert alert-success'">
    Clinic updated successfully.
  </div>
  <div *ngIf="statusCode === 204" [ngClass]="'alert alert-success'">
    Clinic deleted successfully.
  </div>
  <div *ngIf="statusCode === 500" [ngClass]="'alert alert-danger'">
    Internal Server Error.
  </div>
  </div>

<ng-template #processing>
  <img *ngIf="requestProcessing" src="assets/images/loading.gif">
</ng-template>
        <input class="form-control mr-sm-2 margin-bottom-10" type="text" placeholder="Search" aria-label="Search">
        
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Clinic Name</th>
                <th scope="col">Clinic Logo</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let clinic of allClinics">
                <th scope="row">{{clinic.id}}</th>
                <td>{{clinic.name}}</td>
                <td><img src={{clinic.imgUrl}} class="img img-thumbnail tb-img"/> </td>
                <td>
                    <button type="button" class="btn btn-secondary" (click)="loadClinicToEdit(clinic.id)">Edit</button>
                    <button type="button" class="btn btn-danger" (click)="deleteClinic(clinic.id)">Delete</button>                    
                </td>
              </tr>
             
              
            </tbody>
            
          </table>
          <nav aria-label="..." class="pull-right">
              <ul class="pagination pagination-lg justify-content-end">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
    </div>
  </div>
</main>