/* You can add global styles to this file, and also import other style files */
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.margin-bottom-10{
  margin-bottom: 10px;
}

/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/* Change  */
.bg-dark {
  background-color: #07ACAB!important;
}
.btn-outline-success {
  color: #ffffff;
  background-color: transparent;
  background-image: none;
  border-color: #008e8d;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #07acab;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
  border: 0.5px solid white;
  
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-item:hover {
  background-color: #07acab;
}

.sidebar .nav-link:hover {
  color: white;
}

.sidebar .nav-link{
  color: #07acab;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Paginations */

.page-link {
  color: #07acab;
}

.page-link:focus, .page-link:hover {
  color: #ffffff;
  background-color: #07acab;
}