<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    <div class="step">
      <p>Please make sure to installed json-server package</p>
      <code>npm i -g json-server</code>
    </div>
    <div class="step">
      <p>Don't forget to navigate to the db/db.json and run json-server in watch mode</p>
      <code>json-server -w src/db/db.json</code>
    </div>
    <div class="step">
       <p>Run the ng serve command</p>
      <code>ng serve</code>
    </div>
    <div class="step">
      <p>If you need to access the Crud operation click on login</p>
      <small>login will access the aut guard</small>
    </div>
    
  </main>